In [28]:
import pandas as pd
import numpy as np
import nltk
from collections import Counter
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import f1_score, accuracy_score, recall_score, precision_score
from wordcloud import WordCloud
import warnings
warnings.filterwarnings('ignore')

In [29]:
filepath = 'C:\\Users\\Dinesh\\Desktop\\IR\\fake_or_real_news1.csv'
fake_real_data = pd.read_csv(filepath)

In [30]:
fake_real_data.drop(['Unnamed: 0'],axis=1).head()

,title,text,label,clean_title,clean_text
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0,smell hillary s fear,daniel greenfield shillman journalism fellow ...
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0,watch exact moment paul ryan committed politic...,google pinterest digg linkedin reddit stumbleu...
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1,kerry go paris gesture sympathy,u.s. secretary state john f. kerry said monday...
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0,bernie supporters twitter erupt anger dnc we...,kaydee king kaydeeking november 2016 lesson...
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1,battle new york primary matters,primary day new york front runners hillary cli...

In [31]:
X_body_text = fake_real_data['clean_text'].values
X_title_text = fake_real_data['clean_title'].values
y = fake_real_data['label'].values

In [32]:
tfidf = TfidfVectorizer(ngram_range=(1,2), max_df= 0.99, min_df= 0.01)

In [33]:
X_body_tfidf = tfidf.fit_transform(X_body_text.astype('U'))
X_title_tfidf = tfidf.fit_transform (X_title_text.astype('U'))

In [34]:
indices = fake_real_data.index.values

In [35]:
X_body_tfidf_train, X_body_tfidf_test,y_body_train, y_body_test,indices_body_train, indices_body_test = train_test_split(X_body_tfidf, y, indices, test_size = 0.2, random_state=42)

In [36]:
fake_real_data.loc[indices_body_train].groupby('label').agg('count')

       Unnamed: 0  title  text  clean_title  clean_text
label
0            2536   2536  2536         2534        2508
1            2532   2532  2532         2532        2532

In [37]:
fake_real_data.loc[indices_body_test].groupby('label').agg('count')

       Unnamed: 0  title  text  clean_title  clean_text
label
0             628    628   628          628         620
1             639    639   639          639         639

In [38]:
nb_body = MultinomialNB()

In [39]:
nb_body.fit(X_body_tfidf_train, y_body_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [40]:
y_body_train_pred = nb_body.predict(X_body_tfidf_train)

In [41]:
print('Naive Bayes In Sample F1 and Accuracy Scores:')
print('F1 score {:.4}%'.format(f1_score(y_body_train, y_body_train_pred, average='macro')*100 ))
print ('Accuracy score {:.4}%'.format(accuracy_score(y_body_train, y_body_train_pred)*100))

Naive Bayes In Sample F1 and Accuracy Scores:
F1 score 90.21%
Accuracy score 90.21%

In [42]:
np.where(y_body_train != y_body_train_pred)

(array([  18,   20,   29,   58,   63,   82,   94,   98,  100,  101,  105,
         132,  133,  141,  145,  147,  163,  164,  179,  180,  188,  198,
         212,  220,  221,  230,  233,  240,  250,  268,  270,  274,  275,
         322,  353,  354,  355,  366,  367,  372,  382,  391,  392,  394,
         400,  404,  435,  443,  454,  463,  481,  482,  488,  490,  494,
         499,  508,  519,  520,  535,  550,  556,  566,  574,  581,  614,
         624,  637,  650,  654,  660,  662,  664,  709,  722,  754,  763,
         765,  772,  781,  791,  804,  829,  836,  848,  852,  860,  861,
         869,  892,  901,  907,  916,  919,  923,  924,  932,  952,  968,
         980,  996, 1001, 1006, 1009, 1042, 1060, 1067, 1083, 1086, 1089,
        1101, 1105, 1111, 1122, 1126, 1135, 1139, 1146, 1158, 1166, 1191,
        1192, 1197, 1236, 1241, 1249, 1250, 1251, 1255, 1259, 1265, 1269,
        1271, 1273, 1300, 1305, 1306, 1309, 1315, 1319, 1321, 1348, 1354,
        1375, 1377, 1383, 1390, 1394, 1395, 1409, 1419, 1428, 1443, 1458,
        1469, 1472, 1473, 1479, 1494, 1502, 1507, 1514, 1532, 1533, 1538,
        1566, 1568, 1572, 1583, 1589, 1607, 1610, 1614, 1615, 1628, 1661,
        1665, 1666, 1669, 1678, 1686, 1694, 1709, 1713, 1719, 1738, 1740,
        1744, 1776, 1790, 1796, 1835, 1843, 1850, 1851, 1854, 1870, 1884,
        1886, 1905, 1915, 1928, 1962, 1981, 1988, 2003, 2010, 2019, 2056,
        2060, 2061, 2085, 2096, 2122, 2133, 2138, 2139, 2152, 2154, 2158,
        2174, 2175, 2194, 2204, 2207, 2235, 2236, 2242, 2258, 2272, 2277,
        2278, 2281, 2317, 2318, 2324, 2333, 2337, 2339, 2358, 2378, 2381,
        2389, 2391, 2403, 2404, 2406, 2418, 2426, 2427, 2435, 2440, 2443,
        2445, 2449, 2459, 2493, 2498, 2514, 2524, 2526, 2534, 2535, 2544,
        2545, 2547, 2581, 2596, 2606, 2613, 2632, 2636, 2637, 2657, 2659,
        2662, 2670, 2671, 2685, 2707, 2710, 2728, 2733, 2735, 2737, 2751,
        2784, 2806, 2807, 2809, 2819, 2820, 2823, 2826, 2851, 2852, 2904,
        2908, 2918, 2933, 2938, 2943, 2970, 2977, 2988, 2994, 3002, 3003,
        3006, 3012, 3015, 3037, 3040, 3044, 3063, 3065, 3089, 3095, 3103,
        3158, 3174, 3191, 3227, 3256, 3257, 3261, 3267, 3281, 3285, 3290,
        3292, 3315, 3327, 3330, 3348, 3358, 3369, 3371, 3379, 3397, 3398,
        3405, 3406, 3424, 3430, 3455, 3494, 3533, 3545, 3547, 3559, 3583,
        3601, 3631, 3640, 3647, 3650, 3654, 3663, 3685, 3691, 3692, 3696,
        3703, 3722, 3723, 3749, 3762, 3769, 3829, 3834, 3835, 3848, 3851,
        3868, 3897, 3902, 3912, 3926, 3932, 3946, 3947, 3967, 3972, 3975,
        3976, 3987, 3991, 3994, 4008, 4010, 4028, 4029, 4053, 4068, 4084,
        4087, 4120, 4124, 4125, 4134, 4138, 4141, 4155, 4164, 4183, 4185,
        4188, 4229, 4233, 4240, 4245, 4249, 4266, 4272, 4277, 4284, 4292,
        4304, 4306, 4365, 4366, 4374, 4400, 4401, 4420, 4421, 4429, 4454,
        4457, 4461, 4475, 4478, 4497, 4506, 4525, 4530, 4553, 4556, 4561,
        4565, 4572, 4581, 4604, 4627, 4631, 4632, 4651, 4657, 4661, 4671,
        4704, 4705, 4706, 4716, 4728, 4729, 4744, 4757, 4764, 4774, 4776,
        4780, 4783, 4789, 4810, 4814, 4821, 4823, 4824, 4825, 4828, 4837,
        4839, 4846, 4847, 4849, 4863, 4866, 4909, 4916, 4917, 4918, 4954,
        4955, 4966, 4981, 4983, 4987, 4988, 4991, 5004, 5025, 5029, 5050,
        5056]),)

In [43]:
fake_real_data.drop(['Unnamed: 0'],axis=1).loc[[18,20,29,58,63,82,94,98,100,101,105]]

,title,text,label,clean_title,clean_text
18,What's in that Iran bill that Obama doesn't like?,"Washington (CNN) For months, the White House a...",1,what s iran bill obama like,washington cnn months white house congress ...
20,The slippery slope to Trump’s proposed ban on ...,"With little fanfare this fall, the New York de...",1,slippery slope trump s proposed ban muslims,little fanfare fall new york developer planne...
29,"Syrian War Report – November 1, 2016: Syrian M...","Syrian War Report – October 31, 2016: Al-Nusra...",0,syrian war report november 2016 syrian milita...,syrian war report october 31 2016 al nusra l...
58,Police Turn In Badges Rather Than Incite Viole...,It should be evident if you’re following news ...,0,police turn badges rather incite violence stan...,evident you re following news concerning stand...
63,Comment on Quid Pro Quo? Wikileaks Email Revea...,New Wikileaks email dumps have revealed massiv...,0,comment quid pro quo wikileaks email reveals ...,new wikileaks email dumps revealed massive cor...
82,"To get around Congress, Obama turns to city halls",WASHINGTON — President Obama has quietly racke...,1,get around congress obama turns city halls,washington president obama quietly racked seri...
94,French police hunt two brothers accused of Cha...,A third suspect has turned himself in. Prime M...,1,french police hunt two brothers accused charli...,third suspect turned in. prime minister valls ...
98,"Fireworks erupt between Trump and Bush, Rubio ...",Sparks flew at the toughest and liveliest GOP ...,1,fireworks erupt trump bush rubio cruz gop debate,sparks flew toughest liveliest gop primary deb...
100,How Ted Cruz Became Ted Cruz,"In 2008, in the high-profile Supreme Court gun...",1,ted cruz became ted cruz,2008 high profile supreme court gun rights ca...
101,Newly Approved GM Potatoes Have Potential to S...,"Late last week, the US Department of Agricultu...",0,newly approved gm potatoes potential silence h...,late last week us department agriculture usd...
105,Where is Gary Johnson?,(CNN) Conservatives dissatisfied with Donald T...,1,gary johnson,cnn conservatives dissatisfied donald trump g...

In [44]:
y_body_pred = nb_body.predict(X_body_tfidf_test)

In [45]:
print('Naive Bayes F1 and Accuracy Scores:')
print('F1 score {:.4}%'.format(f1_score(y_body_test, y_body_pred, average='macro')*100 ))
print ('Accuracy score {:.4}%'.format(accuracy_score(y_body_test, y_body_pred)*100))

Naive Bayes F1 and Accuracy Scores:
F1 score 89.74%
Accuracy score 89.74%

In [46]:
np.where(y_body_test != y_body_pred)

(array([  10,   16,   33,   58,   68,   71,   80,   87,  106,  128,  130,
         139,  145,  153,  154,  191,  202,  214,  224,  228,  229,  242,
         259,  262,  265,  274,  275,  276,  290,  322,  343,  347,  349,
         353,  361,  382,  384,  395,  397,  402,  406,  409,  422,  436,
         484,  497,  498,  499,  514,  517,  518,  532,  536,  539,  554,
         556,  557,  575,  578,  604,  610,  612,  616,  624,  634,  658,
         662,  674,  691,  704,  721,  728,  735,  745,  752,  767,  769,
         777,  788,  809,  822,  831,  845,  848,  851,  876,  895,  905,
         919,  928,  936,  945,  946,  951,  964,  974,  976,  988,  993,
         998, 1009, 1026, 1029, 1031, 1038, 1046, 1067, 1071, 1078, 1091,
        1093, 1103, 1110, 1114, 1118, 1126, 1130, 1143, 1156, 1164, 1166,
        1171, 1192, 1198, 1201, 1208, 1226, 1244, 1250, 1264]),)

In [47]:
spam = fake_real_data[fake_real_data['label']==1]

In [48]:
spam_words = nltk.word_tokenize(" ".join(spam['clean_text'].values.tolist()))

In [49]:
spam_counter = Counter(spam_words)
print(spam_counter.most_common(50))

[('.', 122301), ('s', 34236), ('said', 17202), ('trump', 15704), ('clinton', 10658), ('would', 7858), ('one', 6680), ('people', 6309), ('state', 6261), ('president', 6141), ('it', 6102), ('obama', 5972), ('new', 5808), ('campaign', 5581), ('t', 5513), ('also', 5030), ('republican', 4996), ('party', 4464), ('could', 4055), ('like', 3929), ('time', 3922), ('states', 3917), ('sanders', 3824), ('two', 3793), ('that', 3765), ('even', 3555), ('house', 3554), ('we', 3527), ('percent', 3468), ('first', 3420), ('political', 3359), ('many', 3273), ('u.s.', 3236), ('voters', 3199), ('republicans', 3195), ('year', 3149), ('he', 3122), ('presidential', 3108), ('the', 3074), ('democratic', 3066), ('cruz', 3060), ('last', 2968), ('going', 2951), ('told', 2868), ('say', 2829), ('white', 2821), ('get', 2818), ('years', 2778), ('news', 2732), ('american', 2707)]

In [50]:
spam_wordcloud = WordCloud(width=1200, height=1000, random_state = 42).generate(" ".join(spam_words))
spam_bigrams = nltk.bigrams(spam_words)
spam_counter = Counter(spam_bigrams)
print(spam_counter.most_common(10))

[(('said', '.'), 4625), (('it', 's'), 2913), (('trump', 's'), 2730), (('.', 'trump'), 2552), (('that', 's'), 2111), (('.', 'it'), 2094), (('he', 's'), 2043), (('donald', 'trump'), 2037), (('.', 'we'), 1846), (('hillary', 'clinton'), 1844)]

In [51]:
ham = fake_real_data[fake_real_data['label']==0]
ham.dropna()
ham["clean_text"]= ham["clean_text"].astype(str)

In [52]:
ham_words = nltk.word_tokenize(" ".join(ham['clean_text'].values.tolist()))

In [53]:
ham_counter = Counter(ham_words)
print(ham_counter.most_common(50))

[('.', 83934), ('s', 19541), ('clinton', 6862), ('trump', 6731), ('t', 5507), ('people', 5437), ('one', 5192), ('us', 5171), ('would', 4923), ('it', 4796), ('hillary', 4597), ('said', 4001), ('new', 3523), ('like', 3320), ('also', 3195), ('world', 3183), ('election', 3081), ('time', 3030), ('state', 2934), ('even', 2926), ('government', 2821), ('president', 2699), ('many', 2594), ('2016', 2562), ('war', 2527), ('american', 2524), ('could', 2505), ('states', 2318), ('obama', 2262), ('russia', 2223), ('years', 2215), ('first', 2198), ('that', 2188), ('campaign', 2135), ('media', 2127), ('get', 2076), ('two', 2075), ('u.s.', 2034), ('know', 1972), ('may', 1965), ('the', 1962), ('well', 1922), ('fbi', 1915), ('donald', 1886), ('year', 1885), ('political', 1856), ('way', 1854), ('country', 1845), ('america', 1839), ('right', 1798)]

In [54]:
ham_wordcloud = WordCloud(width=1200, height=1000, random_state = 42).generate(" ".join(ham_words))
ham_bigrams = nltk.bigrams(ham_words)
ham_counter = Counter(ham_bigrams)
print(ham_counter.most_common(10))

[(('hillary', 'clinton'), 2481), (('it', 's'), 2478), (('donald', 'trump'), 1717), (('don', 't'), 1507), (('united', 'states'), 1438), (('.', 'it'), 1148), (('it', '.'), 1094), (('clinton', 's'), 1066), (('that', 's'), 1001), (('trump', 's'), 845)]